/* src/style.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* VHS Effect - Generic Effect */
    .vhs-effect {
        @apply relative overflow-hidden;
    }

    .vhs-effect::before,
    .vhs-effect::after {
        content: '';
        @apply absolute inset-0 pointer-events-none z-10;
    }

    /* Overlay for Color Distortion and Noise */
    .vhs-effect::before {
        @apply bg-white bg-opacity-5 mix-blend-overlay animate-vhsColorShift;
    }

    /* Scan Lines */
    .vhs-effect::after {
        background: repeating-linear-gradient(
                0deg,
                rgba(50, 50, 50, 0.8) 0px,
                rgba(50, 50, 50, 0.8) 1px,
                transparent 1px,
                transparent 3px
        ),
        var(--tw-bg-image);
        @apply opacity-20 bg-blend-overlay animate-vhsScanLines;
        --tw-bg-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2NgYGBgAAAABQABDQottAAAAABJRU5ErkJggg==');
    }
}
